:host {

    .flex {
        display: flex;
        gap: 5px;
        align-items: center;

        .bold {
            font-weight: bold;
        }
    }

    .container {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .cards {
            margin: 10px;
            background-color: ghostwhite;
            border-radius: 5px;
        }
    }

    .cart {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        top: 80vh;
        margin-top: 50px;
        background-color: ghostwhite;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;

        .title {
            font-size: 20px;
            font-weight: bold;
        }

        .cashout-box {
            position: sticky;
            display: flex;
            justify-content: space-around;
            bottom: 0;
            background-color: ghostwhite;
            border-top: grey solid;
            height: 50px;
            width: 400px;
            left: 0;
        }

        .cart-items {
            max-height: 100px;
            overflow-y: scroll;

            .product {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: space-between;
                padding-right: 10px;
            }
        }
    }

    button {
        font-family: Roboto, sans-serif;
        font-weight: 0;
        font-size: 14px;
        color: #fff;
        background-color: #0066CC;
        border: 2px solid #0066cc;
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
        border-radius: 50px;
        transition: 1000ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}